.parraf{
    padding: 1px 20px;
    background-color: #FFF6DC;
    border: 3px solid #765827;
}

@font-face {
    font-family: cursiva;
    src: url(fuentes/Indoor\ Design.otf);
}

@font-face {
    font-family: type;
    src: url(fuentes/typewcond_regular.otf);
}

@font-face {
    font-family: louis;
    src: url(fuentes/Louis\ George\ Cafe.ttf);
}

h1{
 font-family: cursiva;
 font-size: 6em;
 color: #12486B;
 text-align: center;
}

h2{
    font-family: type;
    color: #321E1E;
    font-size: 3em;
}

h3{
    font-family: type;
    color: #419197;
    font-size: 2em;
}

#u-list{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #E48586;
}

.mainimg:hover {
    transform: scale(1.1);
    transition: 0.5s;
} 

p{
    font-family: louis;
}

a:hover{
    color: darkolivegreen;
    text-decoration: none;
    font-size: 0.9em;
}

body{

    background-image: url(Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: copy;
}

