.parraf{
    padding: 1px 20px;
    background-color: #FFF6DC;
    border: 3px solid #765827;
    border-radius: 10px;
}

@font-face {
    font-family: cursiva;
    src: url(fuentes/Indoor\ Design.otf);
}

@font-face {
    font-family: type;
    src: url(fuentes/typewcond_regular.otf);
}

@font-face {
    font-family: louis;
    src: url(fuentes/Louis\ George\ Cafe.ttf);
}

h1{
 font-family: cursiva;
 font-size: 6em;
 color: #12486B;
 text-align: center;
}

h2{
    font-family: type;
    color: #321E1E;
    font-size: 3em;
}

h3{
    font-family: type;
    color: #419197;
    font-size: 2em;
}

#u-list{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #E48586;
}

.mainimg:hover {
    transform: scale(1.1);
    transition: 0.5s;
} 

p{
    font-family: louis;
    font-size: 1.2em;
}

a:hover{
    color: darkolivegreen;
    text-decoration: none;
    font-size: 0.9em;
    cursor: url(cat1.png), auto;
}

body{

    background-image: url(Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(cat.png), auto;
}

form{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #FFF6DC;
    border: 3px solid #765827;
    color: #419197;
    font-family: louis;
    font-size: 1em;
}

input, textarea{
border-color: lightgrey;
border-style: solid;
padding: 5px;
}

#mensaje-usuario{
width: 30em; 
}

button{
   background-color: #12486B;
   color: white;
   border-radius: 15em;
   border: none;
   padding: .5em 1em;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #427D9D;
}